@font-face {
	font-family: DeliciousRoman;
	src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
}

body {
	font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	background-image: url("../images/pattern_117.gif");	
}

#content {
	width:85%;
	margin: 0 auto;
	border: 6px double #000000;
	border-radius: 25px;
	padding: 20px;
	background-color: #FFFFFF;
	overflow: auto;
}

#navigation {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 60%;	
	text-align: center;
	word-spacing: 10px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#history {
	width: 85%;
	padding: 5px;
	margin: 1.0%;
}

#platforms_title {
	background-image: url("../images/Joystick.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	padding: 8px 0 0 50px;
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px 2px #000000;
}

#platforms {
	float: left;
	width: 56.5%;
	padding: 5px;
	margin: 1.0%;
}

#genres_title {
	background-image: url("../images/bullets.png");
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	padding: 8px 0 0 50px;
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px 2px #000000;
}

#genres {
	float: left;
	width: 56.5%;
	padding: 5px;
	margin: 1.0%;
}

#gallery_title {
	text-align: center;
}

#gallery {	
	float: right;
	width: 36.5%;
	padding: 5px;
	margin: 1.0%;
	background:  linear-gradient(#336666, #66cccc);
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px 2px #000000;
}

#credits {
	clear: right;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80.8%;
	background-image:  url("../images/Games.png");
	background-repeat: repeat;
	background-position: center top;
	height: 29px;
}

h1 {
	text-align: center;
}

h1, h2 {
	color: #F2A474;
	text-shadow: 2px 2px #000000;	
}

h3 {
	font-size: medium;
	font-weight: 300;
	font-style: italic;
}

p {
	text-indent: 50px;
}

ul {
	line-height: 150%;
}

ol {
	list-style-type: lower-alpha;
}

img {
	width: 100%;
	margin: 1.0%
}

a:link {
	color: #FF0000;
	text-decoration: underline;
}

a:visited {
	color:  #000000;
}

a:hover {
	color: #FF00FF;
}

a:active {
	color: #0000FF;
}

